.contact-body {
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 2em;
  }
  
  .contact-grid {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    height: 550px;
    background: rgba(110, 109, 109, 0.534);
    opacity: 70%;
    color: #ffffff;
    margin-bottom: 20px;
    padding-top: 15px;

  }