body,
html {
    height: 100%
}
  
  .homeText {
    color: linear-gradient(#110018, #61407c);
  }

  .header {
    font-size: 450%;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
  }

.title {
  text-shadow: 1px 1px 1px rgb(67, 14, 80), 0 0 25px rgb(169, 165, 173), 0 0 5px rgb(97, 23, 131);
}

.black {
  color: azure;
  background-color: #110018;
}

.form {
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.page {
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 10;
  height: 100%;
  width: 100%;
  padding-top: 10%;
}

.root {
  flex-grow: 1;
  height: '100%';
  justify-content: 'center';
  align-items: 'center';
}

.hidden {
    color: 'white';
}