.App {
  text-align: center;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: darkgreen;
  color: rgb(255, 255, 255);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li a {
  display: block;
  width: 60px;
}

.active {
  background-color: #4CAF50;
  color: white;
}